/*
    Final Project ~ CPSC 314-01 (Web Development)
	Elizabeth Larson
    Last Modified: 12/06/2020
    Sources:
        Color Scheme: https://www.color-hex.com/color-palette/100377
        Using Modals (More Info Pop-Up): https://www.w3schools.com/howto/howto_css_modals.asp
 
	Styling for the home-page.php page.
*/

/* ----------------- Color Scheme ----------------- */
:root {
    --hue-darkest-brown: rgb(61,47,46);
    --hue-dark-brown: rgb(153,118,116);
    --hue-brown: rgb(200,165,146);
    --hue-light-brown: rgb(247,228,195);
    --hue-orange: rgb(240,170,121);
    --hue-yellow: rgb(255,242,197);
    --hue-off-white: rgb(255,252,243);
}

body {
    background-color: var(--hue-off-white);
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------- Header ----------------- */
#header {
    background-color: var(--hue-orange);
    display: flex;
    flex-direction: row;
}

.header-button {
    background-color: var(--hue-light-brown);
    border: none;
    color: var(--hue-dark-brown);
    padding: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 5%;
    margin: 10px;
}

#header-text {
    color: var(--hue-darkest-brown);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* ----------------- Title Text ----------------- */
#title-text {
    color: var(--hue-darkest-brown);
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin: 20px;
}

#title-subtext {
    color: var(--hue-darkest-brown);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

/* ----------------- Books ----------------- */
#books {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.book-text {
    color: var(--hue-dark-brown);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.book-subtext {
    color: var(--hue-dark-brown);
    font-size: 15px;
    text-align: center;
}

.book-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 200px;
    height: 200px;
}

.book-button {
    background-color: transparent;
    border: none;
}

/* ----------------- Reading List Buttons ----------------- */
.add-to-reading-list-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(50,205,50);
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
}

/* ----------------- More Info Modal ----------------- */
#more-info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black fade over the page below the modal */
}

#mofe-info-modal-content {
    background-color: var(--hue-yellow);
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}

#close-button {
    color: var(--hue-brown);
    float: left;
    font-size: 30px;
    margin: 10px;
}

.more-info-text {
    color: var(--hue-brown);
    font-size: 20px;
    margin: 10px;
}